<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cantina - Login</title>
</head>
<body class="has-text-centered">
    <h1 class="is-size-1">Cantina - Mon Compte</h1><br>
    <div class="is-vcentered is-centered">
        <div id="main">
            <h1 class="is-size-3 is-underlined">Principale</h1>
            <p class="is-size-5">
                Nom d'utilisateur: {{ data[2] }}<br>
                Mots de passe: <button class="button">Modifier le mots de passe</button><br>
                Permission d'administrateur: {% if data[5] == 1 %}Oui{% else %}Non{% endif %}<br>
            </p>
        </div> <br>
        <div id="nephelees">
            <h1 class="is-size-3 is-underlined">Néphélées</h1><br>
            <p class="is-size-5">
                Nom d'utilisateur: {{ data[6] }}<br>
            </p>
        </div>
    </div>
</body>
</html>