<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cantina - Login</title>
</head>
<body class="has-text-centered">
    <h1 class="is-size-1">Cantina - Mon Compte</h1><br>
    <div class="columns is-vcentered is-centered" >
        <h1 class="is-size-5">
            Nom d'utilisateur: {{ data[2] }}<br>
            Mots de passe: <button class="button">Modifier le mots de passe</button><br>
            Permission d'administrateur: {% if data[5] == 1 %}Oui{% else %}Non{% endif %}<br>
        </h1>
    </div>
</body>
</html>